<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testcoroutines">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestCoroutines">
        <activity
            android:name=".testflow.TestFlowActivity"
            android:exported="true"/>
        <activity
            android:name=".testRoomDao.TestRoomDaoActivity"
            android:exported="true" />
        <activity
            android:name=".JsonNormalGetActivity"
            android:exported="true" />
        <activity
            android:name=".TestViewModelFactoryActivity"
            android:exported="true" />
        <activity
            android:name=".TestScopeActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines_flow.CoroutinesFlowActivity"
            android:exported="true" />
        <activity
            android:name=".runBlocking_launch_withContext_async_doAsync.DiffMethodTestActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TestActivity"
            android:exported="true" />
    </application>

</manifest>